@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(227 208 188);
  min-height: 100vh;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

main,
header,
footer {
  margin: 0 auto;
  max-width: 45rem;
  width: 100%;
}

p {
  margin: .5em 0 1em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid #666;
  padding: 1rem 0;
}

header a,
header button {
  text-decoration: none;
  color: purple;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

h1 {
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: .5em 1.25em;
  font-size: .85rem;
  line-height: 1;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  border: none;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn--primary {
  background-color: rgb(20, 20, 177);
  color: #fff;
}

.btn--secondary {
  background-color: rgb(187, 40, 40);
  color: #fff;
}

.btn--neutral {
  background-color: rgb(6, 163, 6);
  color: #fff;
}

form *::placeholder {
  font-family: 'Nunito', sans-serif;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: .85rem;
  background-color: #666;
  color: #fff;
}

.message {
  font-weight: 500;
  font-size: .8rem;
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 8px;
}

.message--welcome {
  background-color: green;
  color: #fff;
}